* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    height: 200px;
    background-color: blueviolet;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: red;
    padding: 32px 128px;
    position: relative;
}

.round {
    background-color: yellow;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    right: -10px;
}