div {
    margin-bottom: 10px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.form-field-error { border: 2px solid red; }
.form-field { border: 1px solid gray; }

.error-text { 
    color: red; 
    font-size: 14px; 
}